<!DOCTYPE html>
<html lang="en">
	<!-- build info preamble -->
	<%- include(templateDir + '/p_build_info.ejs' ) %>
	<!-- head -->
	<%- include(templateDir + '/p_head.ejs' ) %>

	<body>
		<div id="content_wrapper">
			<div id="content">
				<div id="avatar">
					<img src="/static/avatar.svg" alt="me!" />
				</div>
				<div id="bio">
					<aside>
						<p>Hi, I'm Roland.</p>

						<p>I am a computer enthusiast writing software and building things.</p>

						<p>
							I appreciate efficient programming and making the computer work for you,
							not the reverse!
						</p>

						<p>
							I am studying a BA of Computer Science in Cybersecurity and Network
							Design at a university in Melbourne Australia.
						</p>

						<p>
							I consider this website a
							<a href="https://nesslabs.com/mind-garden">digital garden</a>, some of
							the garden is well kept, others not. As time goes on the garden grows
							and evolves, recent pages that i worked on were
							<a href="<%= recent.created[0].path.join('/') %>"
								>"<%= recent.created[0].name %>"</a
							>
							, and
							<a href="<%= recent.created[1].path.join('/') %>"
								>"<%= recent.created[1].name %>"</a
							>. You can also check out my <a href="#">resume</a>, or read my
							<a href="https://twitter.com/RolandIRL">twitter</a>.
						</p>
						<nav>
							<a href="/<%= parent.path.join('/') %>">← back</a>
						</nav>
					</aside>
				</div>
			</div>
		</div>

		<% scripts.forEach((script)=> { %> <%- script %> <% }); %>
	</body>
</html>
