<!DOCTYPE html>
<html lang="en">
	<!-- build info preamble -->
	<%- include(templateDir + '/p_build_info.ejs' ) %>

	<!-- head -->
	<%- include(templateDir + '/p_head.ejs' ) %>

	<body>
		<div id="content_wrapper">
			<div id="home_wrapper">
				<div id="home_link_wrapper">
					<% rootLinks.forEach((sibling)=> { %>
						<a class="lightHyperLink" href="/<%- sibling.path.join(" /") %>"><%- sibling.name %></a><% }); %>
				</div>
				<a id="caret_anchor" class="darkHyperLink">
					<img height="25px" src="/logo.png" class="caret" />
				</a>
			</div>
		</div>

		<% scripts.forEach((script)=> { %> <%- script %><% }); %>
	</body>

</html>