<!DOCTYPE html>
<html lang="en">
	<!-- build info preamble -->
	<%- include(templateDir + '/p_build_info.ejs' ) %>

	<!-- head -->
	<%- include(templateDir + '/p_head.ejs' ) %>

	<body>
		<div id="app">
			<nav>
				<div id="nav-wrapper">
					<h1><%- name %></h1>
				</div>
				<!-- breadcrumbs -->
				<section><%- include(templateDir + '/p_breadcrumbs.ejs') _%></section>
				<!-- home nav links -->
				<section><%- include(templateDir + '/p_home_nav.ejs') _%></section>
				<!-- nav prev and next -->
				<section><%- include(templateDir + '/p_nav_neighbors.ejs') _%></section>
			</nav>

			<%-include(templateDir + '/p_breadcrumbs.ejs') %>

				<% children.forEach((child) => { %>
				<li>
					<a class="lightHyperLink" href="/<%- child.path.join("/") %>">
						<%- child.name %>
					</a>
				</li>
				<% }); %>
		</div>

		<% scripts.forEach((script) => { %> <%- script %> <% }); %>
	</body>
</html>
