<!DOCTYPE html>
<html lang="en">
	<!-- build info preamble -->
	<%- include(templateDir + '/p_build_info.ejs' ) %>

	<!-- head -->
	<%- include(templateDir + '/p_head.ejs' ) %>

	<body>
		<div id="app">
			<!-- navigation -->
			<nav>
				<div id="nav-wrapper">
					<h1><%- name.toLowerCase() %></h1>
				</div>
				<!-- breadcrumbs -->
				<section><%- include(templateDir + '/p_breadcrumbs.ejs') _%></section>
				<!-- home nav links -->
				<section><%- include(templateDir + '/p_home_nav.ejs') _%></section>
			</nav>
			<!-- content -->
			<main id="content_wrapper">
				<!-- article -->
				<article id="list-article">
					<div id="list-menu">
						<% children.forEach((child) => { %>
						<div>
							<% if (child.meta.template === "menu.ejs") { %>
							<a class="menu-directory" href="/<%- child.path.join('/') %>">
								<%- child.name.toLowerCase() %>
							</a>
							<% } else { %>
							<a class="menu-file" href="/<%- child.path.join('/') %>">
								<%- child.name.toLowerCase() %>
							</a>
							<% } %>
						</div>
						<% }); %>
					</div>
				</article>
			</main>
		</div>
		<% scripts.forEach((script) => { %> <%- script %> <% }); %>
	</body>
</html>
