<!DOCTYPE html>
<html lang="en">
	<!-- build info preamble -->
	<%- include(templateDir + '/p_build_info.ejs' ) %>

	<!-- head -->
	<%- include(templateDir + '/p_head.ejs' ) %>

	<body>
		<div id="app">
			<!-- navigation -->
			<nav>
				<div id="nav-wrapper">
					<h1><%- name %></h1>
				</div>
				<!-- breadcrumbs -->
				<section><%- include(templateDir + '/p_breadcrumbs.ejs') _%></section>
				<!-- home nav links -->
				<section><%- include(templateDir + '/p_home_nav.ejs') _%></section>
			</nav>
			<!-- content -->
			<main id="content_wrapper">
				<!-- article -->
				<article id="list-article">
					<div id="list-menu">
						<% children.forEach((child) => { %>
						<div>
							<span style="color: var(--font-color)">→ </span
							><a href="/<%- child.path.join('/') %>"> <%- child.name %> </a>
						</div>
						<% }); %>
					</div>
				</article>
			</main>
		</div>

		<% scripts.forEach((script) => { %> <%- script %> <% }); %>
	</body>
</html>
