<section>
  <div>
    <a href="/<%= parent.path.join('/') %>">← back</a>
  </div>
</section>

<section>
  <% if(prevPage){ %>
    <a href="/<%=prevPage.path.join('/')%>">
      <div class="nav-link">
        <span>↑ </span><span><%=prevPage.name.toLowerCase()%></span>
      </div>
    </a>
  <% } %>
</section>

<section>
  <% if(nextPage){ %>
    <a href="/<%=nextPage.path.join('/')%>">
      <div class="nav-link">
        <span>↓ </span><span><%=nextPage.name.toLowerCase()%></span>
      </div>
    </a>
  <% } %>
</section>