<!DOCTYPE html>
<html lang="en">
{{> header }}
<body>
  {{> navigation }}
  {{!-- <div class="links"> --}}
    {{#each siblings}}
      <div>
        {{!-- {{this.pathOnDisk}} --}}
        a
      </div>
    {{/each}}
    {{!-- {{#each siblings}}
          {{#if (templateIs this.pathOnDisk "menu.hbs")}}
            <a href="{{urlFromPath this.pathOnDisk}}">
              <div class="link link-folder">
                🗀
                  {{nameFromPath this.pathOnDisk}}
              </div>
            </a>
          {{else}}
            <a href="{{urlFromPath this.pathOnDisk}}">
              <div class="link link-file">
                🗎
                  {{nameFromPath this.pathOnDisk}}
              </div>
            </a>
          {{/if}}
    {{/each}} --}}
  {{!-- </div> --}}
</body>
</html>