<!DOCTYPE html>
<html lang="en">
	<%- include(templateDir + '/p_build_info.ejs' ) %>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Roland's Blog and WWWebsite" />
		<meta property="og:title" content="Roland's Blog and WWWebsite" />
		<meta property="og:type" content="website" />
		<meta
			property="og:image"
			content="https://www.rolandw.dev/static/favicon.png"
		/>
		<meta property="og:url" content="https://www.rolandw.dev/" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@RolandIRL" />
		<link rel="icon" type="image/png" href="/static/favicon.ico" />
		<title><%- pageName%></title>
		<% styles.forEach((script) => { %> <%- script %> <% }); %>
	</head>

	<body>
		<div id="app">
			<!-- navigation -->
			<nav>
				<div class="nav-section">
					<h1><%- pageName %></h1>
				</div>
				<%- include(templateDir + '/p_nav_neighbors.ejs') %>
			</nav>
			<!-- content -->
			<main id="content_wrapper">
				<!-- article -->
				<% if(heroImage){ %>
					<img id="hero-image" src="<%- heroImage %>" alt="">
				<% } %>
				<article>
					<%- content%>
				</article>
			</main>
		</div>

		<% scripts.forEach((script) => { %> <%- script %> <% }); %>
	</body>
</html>
