<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Roland's Blog and WWWebsite" />
		<meta property="og:title" content="Roland's Blog and WWWebsite" />
		<meta property="og:type" content="website" />
		<meta
			property="og:image"
			content="https://www.rolandw.dev/static/favicon.png"
		/>
		<meta property="og:url" content="https://www.rolandw.dev/" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@RolandIRL" />
		<link rel="icon" type="image/png" href="/static/favicon.ico" />
		<title><%- pageName%></title>
		<% styles.forEach((script) => { %> <%- script %> <% }); %>
	</head>

	<body>
		<div id="app">
			<!-- navigation -->
			<nav>
				<%- include(templateDir + '/p_nav_neighbors.ejs') %>
			</nav>
			<!-- content -->
			<div id="content_wrapper">
				<!-- article -->
				<h1 id="heading"><%- pageName %></h1>
				<article><%- content%></article>
			</div>
		</div>

		<% scripts.forEach((script) => { %> <%- script %> <% }); %>
	</body>
</html>
