<div class="breadCrumbs">

<strong>
	<a class="lightHyperLink" href="/">
		~
	</a>
</strong>
<span style="color: white; display: inline;">
	/
</span>

	<% breadCrumbs.forEach((crumb, i) => { %> 

	<% if (i == 0) {%> 
		<% divider="" %> 
	<%} else { %>
		<% divider="/" %>
	<%} %>

	<!-- if on the last loop dont link the segment -->
	<% if (i != breadCrumbs.length - 1) {%>

	<span style="color: white; display: inline;"><%- divider %></span>
	<strong>
		<a class="lightHyperLink" href="/<%- crumb.websitePath %>">
			<%- crumb.pageName %>
		</a>
	</strong>

	<%} else { %>

	<span style="color: white; display: inline;"><%- divider %></span>
	<strong>
		<span style="color: #494f5c; display: inline;">
			<%- crumb.pageName %>
		</span>
	</strong>

	<%} %> <% }); %>
</div>
