<!-- <div > -->
<div id="nav-prev-link">
	<% if(neighbours.prev){ %>
	<a class="darkHyperLink" href="<%=neighbours.prev.websitePath%>"
		>↑ <strong><%=neighbours.prev.pageName%></strong></a
	>
	<% } else { %>
	<a class="darkHyperLink" href="#">↑ <strong></strong></a>
	<% } %>
</div>

<div id="nav-next-link">
	<% if(neighbours.next){ %>
	<a class="darkHyperLink" href="<%=neighbours.next.websitePath%>"
		>↓ <strong><%=neighbours.next.pageName%></strong></a
	>
	<% } else { %>
	<a class="darkHyperLink" href="#">↓ <strong></strong></a>
	<% } %>
</div>

<div id="nav-created-box">
	<strong>Added:</strong>
	<%=createdDate.year%>.<%=createdDate.month%>.<%=createdDate.day%>
</div>

<% if(lastEdit.year != undefined){ %>
<div id="nav-edited-box">
	<strong>Edited:</strong>
	<%=lastEdit.year%>.<%=lastEdit.month%>.<%=lastEdit.day%>
</div>
<% } else { %>
<div id="nav-edited-box"><strong>Edited:</strong> Unknown</div>
<% } %>

<!-- </div> -->
