<!-- <div > -->
<div id="nav-prev-link">
	<% if(neighbors.prev){ %>
	<a class="lightHyperLink" href="<%=neighbors.prev.websitePath%>"
		>↑ <strong><%=neighbors.prev.pageName%></strong></a
	>
	<% } else { %>
	<!-- <a class="lightHyperLink" href="#">↑ <strong></strong></a> -->
	<% } %>
</div>

<div id="nav-next-link">
	<% if(neighbors.next){ %>
	<a class="lightHyperLink" href="<%=neighbors.next.websitePath%>"
		>↓ <strong><%=neighbors.next.pageName%></strong></a
	>
	<% } else { %>
	<!-- <a class="lightHyperLink" href="#">↓ <strong></strong></a> -->
	<% } %>
</div>

<div id="nav-created-box">
	<% if(firstModified != undefined){ %>
	<strong class="lightHyperLink">Added:</strong>
	<span class="lightHyperLink"><%=firstModified.data.timestamp%></span>
	<% } %>
</div>

<div id="nav-edited-box">
	<% if(lastModified != undefined){ %>
	<strong class="lightHyperLink">Edited: </strong>
	<span class="lightHyperLink"><%=lastModified.data.timestamp%></span>
	<% } %>
</div>
