<div class="nav-section">
	<!-- <h3><%- pageName %></h3> -->
	<% homeLinks.forEach((link)=> { %>
		<div>
			<a href="/<%- link.websitePath.join(" /") %>">
				<%- link.pageName %>
			</a>
		</div>
	<% }); %>
</div>

<div class="nav-section">
	<% if(neighbors.prev){ %>
		<a href="/<%=neighbors.prev.websitePath.join("/")%>">
			<div class="nav-link">
				<span>↑ </span><span><%=neighbors.prev.pageName%></span>
			</div>
		</a>
		<% } %>

	<% if(neighbors.next){ %>
		<a href="/<%=neighbors.next.websitePath.join("/")%>">
			<div class="nav-link">
				<span>↓ </span><span><%=neighbors.next.pageName%></span>
			</div>
		</a>
		<% } %>
</div>

<div class="nav-section">
	<div id="nav-created-box">
		<% if(firstModified != undefined){ %>
		<div>
			<strong>Added:</strong>
		</div>
		<span><%=firstModified.data.prettyDate%></span>
		<% } %>
	</div>

	<div id="nav-edited-box">
		<% if(lastModified != undefined){ %>
		<div>
			<strong>Edited:</strong>
		</div>
		<span><%=lastModified.data.prettyDate%></span>
		<% } %>
	</div>
</div>
