<div class="nav-section">
	<!-- <h3><%- pageName %></h3> -->
	<% homeLinks.forEach((link)=> { %>
		<div>
			<a href="/<%- link.websitePath.join(" /") %>">
				<%- link.pageName %>
			</a>
		</div>
	<% }); %>
</div>

<div class="nav-section">
	<div id="nav-prev-link">
		<% if(neighbors.prev){ %>
			<a href="/<%=neighbors.prev.websitePath.join("/")%>">
				↑ <%=neighbors.prev.pageName%>
			</a>
		<% } %>
	</div>

	<div id="nav-next-link">
		<% if(neighbors.next){ %>
			<a href="/<%=neighbors.next.websitePath.join("/")%>">
				↓ <%=neighbors.next.pageName%>
			</a>
		<% } %>
	</div>
</div>

<div class="nav-section">
	<div id="nav-created-box">
		<% if(firstModified != undefined){ %>
		<div>
			<strong>Added:</strong>
		</div>
		<span><%=firstModified.data.prettyDate%></span>
		<% } %>
	</div>

	<div id="nav-edited-box">
		<% if(lastModified != undefined){ %>
		<div>
			<strong>Edited:</strong>
		</div>
		<span><%=lastModified.data.prettyDate%></span>
		<% } %>
	</div>
</div>
